

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image{
        flex:1 1 40rem;

        img{
            width:100%;
        }
    }

    .content{
        flex: 1 1 40rem;

        h3{
            color:$black;
            font-size: 4rem;
        }

        span{
            color:$carrot-color;
        }

    p{
        font-size: 1.6rem;
        color:$light-color;
        padding: 1rem 0;
        line-height: 2;
    }
    }

}

.dog-food,
.cat-food{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    .image{
        flex:1 2 40rem;

        img{
            width:100%;
        }
    }

    .content{
        flex:1 1 40rem;
        text-align:center;
        padding:2rem;

        h3{
            font-size: 3.5rem;
            color:$black;

            span{
                color:$carrot-color;
            }
        }

        p{
            padding:1rem 0;
            line-height: 2;
            color:$light-color;
            font-size: 1.5rem;
        }

        .amount{
            font-size: 3.5rem;
            color:$black;
            padding:.5rem 0;
        }

        a{

            img{
                height: 15rem;
                margin-top: 1rem;
            }

            &:hover img{
transform: rotate(15deg);
            }
        }
    }
}

.cat-food{
    flex-wrap: wrap-reverse;
}


.content{
    flex:1 1 40rem;
}
