.contact{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    gap: 3rem;

    .image{
        flex:1 1 40rem;

        img{
            width:100%;
        }
    }

    form{
        flex: 1 1 40rem;
        padding: 2rem 7%;

        .btn{
            @include form-btn();
            transition: .2s linear;
        }

        h3{
            font-size: 3rem;
            padding-bottom: 1rem;
            color:$black;
        }

        .box, textarea{
            width:100%;
            border-top:0;
            border-right: 0;
            border-left: 0;
            border-width: .1rem;
            font-size: 1.6rem;
            text-transform: none;
            color:$black;
            padding: 1.5rem 0;
            margin:1rem 0;
        }

        textarea{
            height: 15rem;
            resize: none;
        }
    }
}